body {
  background-color: #F9F9F9;
}

.green-color {
  color: #CCF281;
}

.green-background-color {
  background-color: rgb(204, 242, 129);
}

.blue-color {
  color: #446DF6;
}

.blue-background-color {
  background-color: #446DF6;
}
