body {
  background-color: #F9F9F9;
}

.green-color {
  color: #CCF281;
}

.green-background-color {
  background-color: rgb(204, 242, 129);
}

.blue-color {
  color: #446DF6;
}

.blue-background-color {
  background-color: #446DF6;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 12px !important ;
  }
}

@media screen and (max-width: 1024px) {
  p {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1025px) {
  p {
    font-size: 14px !important;
  }
}
